.banner{
    padding: 4rem 6rem;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(@/assets/course.jpg) no-repeat center center / cover fixed;
    min-height: 50vh;
    @include flex(column, center, center);
}