.detail{
    padding: 2rem 6rem 4rem 6rem;

    &__img{
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }

    &__exp{
        border: 1px solid var(--mantine-color-gray-2);

        &__box{
            padding: 1rem;
            background-color: var(--mantine-color-primary-8);
            @include flex(row, center, center);
        }

        &__stack{
            padding:1rem;
        }
    }

    &__info{
        padding: 2rem;
        background-color: var(--mantine-color-secondary-6);
        @include flex(column, $gap: 2rem);
    }

    &__card{
        padding: 2rem;
        background: url(@/assets/course-bg.webp) no-repeat center center / cover;

        &__stack{
            border: 1px solid var(--mantine-color-gray-7);
            padding: 1rem;
        }
    }
}